/* raleway-regular - latin */

@font-face {
    font-family: 'Raleway Medium';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v19-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/raleway-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/raleway-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/raleway-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/raleway-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/raleway-v19-latin-regular.svg#Raleway') format('svg');
    /* Legacy iOS */
}

html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    font-size: 0.875em;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.1em;
}

.page {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 95%;
}

.flex {
    display: flex;
}

.flexcol_space_beween {
    flex-direction: column;
    justify-content: space-between;
}

.zeromargin {
    margin: 0;
}

li {
    list-style: none;
}

a:link {
    text-decoration: none;
}

/* # navigation *****************************************/

.navigation {
    display: flex;
    flex-direction: row;
}

.nav__list--space {
    padding: 0;
    margin: 0;
}

.nav__list--wide {
    width: 20%;
}

.nav__list--flex {
    display: flex;
    flex-direction: unset;
    justify-content: space-evenly;
    order: 1;
}

.elemnt_inscription {
    order: 1;
}

.act-nav {
    color: #000000;
}

.elemnt_activities a:visited {
    color: #000000;
}

.elemnt_accommodation a:visited, .elemnt_inscription a:visited {
    color: #0065FC;
}

.elemnt_activities:hover, .elemnt_inscription:hover, .elemnt_accommodation:hover {
    border-top: solid #0065FC 1px;
}

.header__img--wide {
    width: 70%;
}

/* # end navigation *****************************************/

/* start main **************************************** */

.principal-flex--col {
    display: flex;
    flex-direction: column;
}

.hook_text--family {
    font-family: 'Raleway-ExtraLight', sans-serif;
}

.hook_text--margin--pad {
    margin-top: 10px;
    margin-left: 0px;
    padding-left: 0;
    width: 100%;
}

/* # section search *****************************************/

.search--flex {
    display: flex;
    flex-direction: column;
}

.search--wide {
    width: 100%;
}

.search_bloc {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
}

/* icone maps */

i.fas.fa-map-marker-alt {
    background-color: #F2F2F2;
    /* **************************************** */
    padding: 13px;
    /* **************************************** */
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

input {
    border: 2px #F2F2F2 solid;
}

::placeholder {
    color: black;
    opacity: 1;
}

button {
    background-color: #0065FC;
    color: #DEEBFF;
    /* **************************************** */
    border-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    /* **************************************** */
    padding: 13px;
    /* **************************************** */
    font-weight: bold;
}

i.fas.fa-search {
    display: none;
}

/* # end section search*****************************************/

/* # section filtres  *****************************************/

.filter {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

h4 {
    padding-right: 2%;
}

.container_filter {
    justify-content: space-between;
    align-items: baseline;
    /* **************************************** */
    /* **************************************** */
    padding-left: 0;
}

.elements, .elements a:visited {
    border: #F2F2F2 solid 1px;
    border-radius: 20px;
    color: #000000;
    /* **************************************** */
    align-items: center;
    padding-right: 1rem;
    /* **************************************** */
    font-weight: 800;
    margin-bottom: 1rem;
}

.elements {
    transform: scale(1);
    cursor: pointer;
    margin-left: 0px;
    margin-right: 10px;
}

.elements:hover {
    transform: scale(1.1);
    background-color: #DEEBFF;
    transition: background-color 300ms, transform 300ms;
}

/* icone tickets */

i.fas.fa-money-bill-wave, i.fas.fa-child, i.fas.fa-heart, i.fas.fa-dog {
    border-radius: 50px;
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 12px;
}

/* hebergemnt a Marseille */

/* # end section filtres  *****************************************/

i.fas .fa-chart-line {
    margin-left: 100px;
}

i#info.fas {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    font-size: xx-small;
}

i.fa-info {
    color: #0065FC;
    border: #DEEBFF solid 1px;
}

.infos {
    display: flex;
    align-items: center;
    margin: 0;
}

.isolate {
    display: flex;
    padding: 0;
    margin-bottom: 0;
}

.texte {
    padding-left: 10px;
}

.acc_aside {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 90px 1fr 1fr;
    grid-template-rows: 0 35rem;
}

.block_six_accomadations {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    /* **************************************** */
    background-color: rgb(242 242 242);
    border-radius: 20px;
    height: 93%;
}

}

/* # start section accomodotion  *****************************************/

.title_accomodation {
    margin-left: 0;
    margin-top: 0;
    /* **************************************** */
    padding-left: 44px;
    padding-top: 13px;
}

.cards_accomadation {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 1rem;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 5;
    border-radius: 20px;
}

.fig_accomadation {
    width: 89%;
    height: 100px;
    margin: 10px;
    padding-bottom: 65px;
    /* **************************************** */
    border-radius: 10px;
    border: white solid 5px;
    /* **************************************** */
    background-color: white;
    transform: scale(1);
    box-shadow: 0px 15px 20px 0px #d1d1d1;
}

.fig_accomadation:hover {
    transform: scale(1.2);
}

.photo {
    height: 100%;
    width: 100%;
    /* **************************************** */
    object-fit: cover;
    /* **************************************** */
    border: white solid 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.text_card {
    margin-left: 10px;
}

.light_text {
    font-size: 10px;
}

/* prices */

.small_prices, .symbol, .name_hostel {
    font-weight: 700;
    font-size: 12px;
}

.fas.fa-star {
    color: #0065FC;
    font-size: smaller
}

.fas.fa-star.grey_star {
    color: #DEEBFF;
}

.subtitle {
    grid-row-start: 3;
    padding-left: 40px;
    height: 1%;
}

.fig_accomadation.aside {
    display: -webkit-inline-box;
    /* **************************************** */
    width: 65%;
    padding-bottom: 0px;
    padding-right: 16px;
    /* **************************************** */
    height: 100px;
    /* **************************************** */
    box-shadow: 0px 15px 20px 0px #d1d1d1;
    /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
}

.party_aside {
    grid-column-start: 6;
    width: 178%;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(242 242 242);
    border-radius: 20px;
    padding-bottom: 38px;
    height: 85%;
}

.space_objet_word {
    color: #000;
}

.text_icon {
    grid-column-start: 4;
    flex-direction: row;
    margin-right: 0;
    align-items: center;
    margin-left: 3rem;
    justify-content: space-between;
    width: 77%;
}

.parent_aside {
    width: 126%;
    height: 77%;
    grid-column-start: 6;
    border-radius: 0 0 20px 20px;
}

.aside {
    justify-content: space-between;
}

.aside_child {
    width: 127px;
    height: 100px;
    border-radius: 10px 0 0 10px;
}

/* ***************SECTION ACTIVITIES************************* */

.all_activities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 470px;
    margin-bottom: 40px;
}

.title_activities {
    padding-top: 0;
    padding-left: 14px;
}

.activities {
    height: 100%;
    width: 100%;
}

.space_objet_word {
    padding-left: 10px;
}

.part_one {
    grid-column-start: 1;
}

.part_two {
    grid-column-start: 2;
}

.part_three {
    grid-column-start: 3;
}

.part_four {
    grid-column-start: 4;
}

.VXFIG {
    height: -moz-fit-content;
    border-radius: 10px;
    margin-bottom: 0;
    width: -moz-fit-content;
    box-shadow: 0px 15px 20px 0px #d1d1d1;
}

.vxPort {
    object-fit: cover;
    padding-right: 0px;
    border-radius: 10px 10px 0 0;
    border-bottom: #DEEBFF;
}

.vxPortX {
    color: #222222;
    text-align: justify;
    display: flex;
    padding-left: 10px;
    border-radius: 0 0 10px 10px;
    padding-top: 15px;
    /* border: solid 5px white; */
}

/* size image activities */

.img_width {
    width: 250px;
}

.xl {
    height: 400px;
}

.large {
    height: 150px;
}

.medium {
    height: 150px;
}

/* # start footer  *****************************************/

.menu_endpage {
    padding-left: 0;
}

footer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-left: 5rem;
    background-color: #F2F2F2;
}

.title {
    font-weight: 900;
    font-family: 'Raleway Medium', sans-serif;
}

.title a, .footer_element a, .title, .footer_element {
    color: black;
    margin: inherit;
}

.hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.text_position--margin {
    margin-bottom: 0;
}

/* # end footer  *****************************************/

@media (min-width: 768px) and (max-width: 1023px) {
    body {
        width: 100%;
    }
    .fig_accomadation {
        height: 400px;
        width: 100%;
    }
    .large, .medium, .xl {
        width: 100%;
        height: 150px;
    }
    .aside_child {
        width: 300px;
        height: 200px;
    }
    .fig_accomadation.aside {
        padding: 0%;
        height: 200px;
        width: 88%;
        padding-right: 40px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .activities {
        width: 97%;
    }
}

/* @media screen and (max-width: 1024px) { */

@media (max-width: 1024px) {
    .page {
        width: 100%;
    }
    .R_isolate-element--space {
        display: flex;
    }
    .filter {
        display: flex;
        flex-direction: column;
    }
    .subtitle {
        width: 100%;
        padding-top: 0;
        padding-left: 10px;
    }
    .title_activities {
        padding-top: 0px;
        width: 100%;
    }
    .header-img--pad {
        padding-bottom: 2rem;
    }
    button {
        border-radius: 10px;
        width: 10%;
        position: absolute;
        right: 33px;
        padding: 11px;
    }
    input {
        width: 80%;
    }
    .dd {
        display: flex;
        margin: 0;
        align-items: baseline;
    }
    .screen_flex_col_justify_center {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    /* .width_cent_percent {
        100%
    } */
    .navigation {
        flex-direction: column;
        padding: 0;
    }
    .block_six_accomadations {
        order: 2;
        background: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .hide {
        display: none;
        width: 0%;
    }
    i.fas.fa-search {
        display: block;
        color: white;
    }
    .nav__list--space {
        padding-left: 0;
    }
    .nav__list--wide {
        width: 100%;
    }
    .nav__list--flex {
        display: flex;
        justify-content: space-evenly;
    }
    .elemnt_inscription {
        position: absolute;
        right: 48px;
    }
    .elemnt_accommodation, .elemnt_activities {
        border-bottom: 1px solid #F2F2F2;
        padding-bottom: 39px;
        text-align: center;
    }
    .elemnt_accommodation:hover, .elemnt_activities:hover {
        border-bottom: solid #0065FC 1px;
        border-top: 0;
    }
    .text_position--margin {
        margin-bottom: 0;
    }
    .populaire {
        margin-left: 3px;
    }
    .container_filter {
        flex-wrap: nowrap;
        margin: 0;
    }
    .cards_accomadation, .title_accomodation {
        background: none;
        width: 90%;
    }
    .fig_accomadation {
        box-shadow: 0px 0px 10px #DEEBFF;
        width: 100%;
        margin: 3px;
    }
    .fig_accomadation.aside {
        padding: 0%;
        width: 77%;
        padding-right: 40px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .party_aside {
        order: 1;
        border-radius: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .all_activities, .cards_accomadation {
        align-items: center;
    }
    .text_icon {
        background-color: rgb(242 242 242);
        justify-content: flex-start;
        width: 93%;
        margin: 0;
        justify-content: space-around;
        width: 100%;
    }
    .large, .medium, .xl {
        width: 100%;
        height: 150px;
    }
    .VXFIG {
        margin-bottom: 1rem;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        /* box-shadow: 2px 2px 33px 2px #222222; */
    }
    footer {
        display: flex;
        flex-direction: column;
        padding-left: 25px;
    }
}