@font-face {
    font-family: "Harabara Bold";
    src: url("css/fonts/Harabara.eot");
    src:
    url("css/fonts/Harabara.woff") format("woff"),
    url("css/fonts/Harabara.otf") format("opentype"),
    url("css/fonts/Harabara.svg#filename") format("svg");
    }

/* # navigation *****************************************/
body {
    font-family: 'Raleway Thin Regular','Harabara Bold', Arial, sans-serif;
  
    margin: 5%;

}
main {
    box-sizing: border-box;
}
.container {
    
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: auto;
    height: 10px;
}
@media all and (max-width:800px){
    .container {
        justify-content: space-around;
    }
}
@media all and (max-width:667px){
    .container {
        margin: 0;
        flex-direction: column;
    }
}
li.elemnt_accommodation, li.elemnt_activities, li.elemnt_inscription {
    margin :25px;
    height: 100px;
    padding-top: 10px;
}
a:link {

    text-decoration: none;
}
.elemnt_accommodation a:visited  ,.elemnt_inscription a:visited {
    color:#0065FC;
}
.elemnt_activities a:visited {
    color: #222222;
}
.elemnt_activities:hover, .elemnt_inscription:hover,.elemnt_accommodation:hover  {

    border-top: solid #0065FC;
    margin-top: -16px;
    padding-top: 49px;
}
/* # end navigation *****************************************/


/* # section search *****************************************/
.search
{

    border: #DEEBFF 1px;
    width: 50%;
    border-radius: 50px;
    display: flex;

}
h3 {
    margin-bottom: 0;
}
p {
    margin-top: 2%;
    
}
button {
    background-color:#0065FC;
    color:#DEEBFF;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    border-color:#0065FC;
    padding-right: 10px;
    font-weight: bold;
}
input {

    border: 2px #F2F2F2 solid;
}
/* icone maps */
i.fas.fa-map-marker-alt
{
    background-color: #F2F2F2;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* # end section *****************************************/

/* # section filtres  *****************************************/

.container_filter
{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
ul
{
    padding : 0;
    
}

dt.elements {
    margin: 10px;
    border-top: #F2F2F2 solid 1px;
    border-right: #F2F2F2 solid 1px;
    padding-right: 2%;
    border-bottom: #F2F2F2 solid 1px;
    border-radius: 20px;
    

}
/* icone tickets */
i.fas.fa-money-bill-wave,i.fas.fa-child,i.fas.fa-heart,i.fas.fa-dog
{
    border-radius: 50%;
    color:#0065FC;
    background-color: #DEEBFF;
    padding: 12px;

}
.elements a:visited {
    color: #123112;
    
}
.elements:hover {
    transform: scale(1.1);
    background-color: #0065FC;

}
i.fas.fa-info-circle {
    color: #131231; 
    background-color: #0065FC;
    border-radius: 50%;
}

/* # end section filtres  *****************************************/

.section_accommodotion
{
    background-color: #f2f2f1;
    display: flex;
    float: left;
    width: 100%;
}
.parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10px;
    text-align: justify;


}

.fas.fa-star {
    color: #0065FC;
}
.fas.fa-star.grey_star{
    color: #DEEBFF; 
}

li{

    list-style: none;
}
.child
{
    width: 200px;
    height: 96px;
    border-radius: 10%;
    border: white solid 2px;
    background-color: white;
    padding-bottom: 65px;
}
.child.aside {
    display: -webkit-inline-box;
    padding-right: 150px;
    padding-bottom: 0%;
    height: 150px;
    box-shadow: 0px 0px 10px #DEEBFF;
    /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
}

.aside {
    justify-content: space-between;
}
.child_photos {
    height: 100%;
    width: 100%;
    border: white solid 2px;
    
    object-fit:cover;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    
}
.aside_child
{
    width: 130px;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 10%;
    
}
.activities {
    background-color: #F2F2F2;
    height: 100%;
    width: 100%;
    display: flex;  

}
.VXFIG {

    border: white solid 2px;
    height: fit-content;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    background-color:wheat;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;

}
.vxPort
{
    object-fit:cover;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    padding-right: 0%;

}
.vxPortX {
    
    color: #222222;
    margin: 30px;
    text-align: justify;

}
/* size image activities */
.xl {
    height: 500px;
    width: 300px;
}
.large {
    height: 200px;
    width: 300px;
}
.medium {
    height: 150px;
    width: 300px;
}
footer
{

    display: flex;
    align-items: center;
    justify-content: space-around;

}
.col {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.all_activities {
    box-sizing: content-box;
}
.title{
    padding-bottom: 25px;
    font-weight: 900;
}