/* raleway-regular - latin */

@font-face {
    font-family: 'Raleway Medium';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v19-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/raleway-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/raleway-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/raleway-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/raleway-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/raleway-v19-latin-regular.svg#Raleway') format('svg');
    /* Legacy iOS */
}

body {
    font-size: 0.875em;
    margin: auto;
    width: 95%;
    font-family: 'Raleway', sans-serif;
}

/* # navigation *****************************************/

nav {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: unset;
    width: 20%;
    justify-content: space-evenly;
    order: 1;
}

li {
    list-style: none;
}

a:link {
    text-decoration: none;
}

.elemnt_inscription {
    order: 1;
}

.elemnt_activities a:visited {
    color: #222222;
}

.elemnt_accommodation a:visited, .elemnt_inscription a:visited {
    color: #0065FC;
}

.elemnt_activities:hover, .elemnt_inscription:hover, .elemnt_accommodation:hover {
    border-top: solid #0065FC;
}

header {
    width: 70%;
}

/* # end navigation *****************************************/

/* start main **************************************** */

main {
    display: flex;
    flex-direction: column;
}

.hook_text {
    margin-top: 10px;
    margin-left: 0px;
    font-family: 'Raleway-ExtraLight', sans-serif;
}

/* # section search *****************************************/

.search {
    display: flex;
    /* **************************************** */
    width: 50%;
    /* **************************************** */
    border: #DEEBFF 1px;
    border-radius: 50px;
}

/* icone maps */

i.fas.fa-map-marker-alt {
    background-color: #F2F2F2;
    /* **************************************** */
    padding: 10px;
    /* **************************************** */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

input {
    border: 2px #F2F2F2 solid;
}

button {
    background-color: #0065FC;
    color: #DEEBFF;
    /* **************************************** */
    border-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    /* **************************************** */
    padding-right: 10px;
    /* **************************************** */
    font-weight: bold;
}

i.fas.fa-search {
    color: rgb(0 101 252);
}

/* # end section search*****************************************/

/* # section filtres  *****************************************/

/* .filters{} */

.container_filter {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /* **************************************** */
    width: 40%;
    /* **************************************** */
    padding-left: 0;
}

.element {
    font-weight: 800;
}

.elements, .elements a:visited {
    border: #F2F2F2 solid 1px;
    border-radius: 20px;
    color: #000000;
    /* **************************************** */
    display: flex;
    align-items: center;
    /* **************************************** */
    padding-right: 20px;
    font-weight: 800;
}

.elements:hover {
    transform: scale(1);
    background-color: #0065FC;
}

/* icone tickets */

i.fas.fa-money-bill-wave, i.fas.fa-child, i.fas.fa-heart, i.fas.fa-dog {
    border-radius: 50px;
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 12px;
}

/* hebergemnt a Marseille */

/* # end section filtres  *****************************************/

i.fas.fa-info {
    border: #DEEBFF solid 1px;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
    color: rgb(0 0 255);
    font-size: 0.7em
}

/* # start section accomodotion  *****************************************/

.acc_aside {
    display: grid;
    grid-template-columns: 3% 20% 20% 15% 90px 20%;
    grid-template-rows: 50px 450px 50px;
    grid-gap: 1rem;
}

.block_six_accomadations {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    /* **************************************** */
    background-color: #F2F2F2;
    border-radius: 20px;
}

.title_accomodation {
    margin-left: 0px;
    margin-top: 0px;
    /* **************************************** */
    padding-left: 44px;
    padding-top: 13px;
}

.cards_accomadation {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px 200px 50px;
    grid-gap: 1rem;
    /* **************************************** */
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 5;
    /* **************************************** */
    border-radius: 20px;
}

.fig_accomadation {
    width: 200px;
    height: 96px;
    /* **************************************** */
    padding-bottom: 65px;
    /* **************************************** */
    border-radius: 10px;
    border: white solid 2px;
    /* **************************************** */
    background-color: white;
}

.photo {
    height: 100%;
    width: 100%;
    /* **************************************** */
    object-fit: cover;
    /* **************************************** */
    border: white solid 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.text_card {
    margin-left: 10px;
}

.light_text {
    font-size: 10px;
}

/* prices */

.small_prices, .symbol, .name_hostel {
    font-weight: 700;
    font-size: 12px;
}

.fas.fa-star {
    color: #0065FC;
    font-size: smaller
}

.fas.fa-star.grey_star {
    color: #DEEBFF;
}

h4 {
    grid-row-start: 3;
    padding-left: 40px;
}

.fig_accomadation.aside {
    display: -webkit-inline-box;
    /* **************************************** */
    padding-right: 76px;
    padding-bottom: 0px;
    /* **************************************** */
    height: 100px;
    /* **************************************** */
    box-shadow: 0px 0px 10px #DEEBFF;
    /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
}

.party_aside {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
    /* **************************************** */
    background-color: #F2F2F2;
    /* **************************************** */
    border-radius: 20px;
}

.text_icon {
    grid-column-start: 6;
    /* **************************************** */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.parent_aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* **************************************** */
    width: 100%;
    height: 90%;
    /* **************************************** */
    grid-column-start: 6;
    /* **************************************** */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.aside {
    justify-content: space-between;
}

.aside_child {
    width: 100px;
    height: 100px;
    /* **************************************** */
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
}

/* ***************SECTION ACTIVITIES************************* */

.all_activities {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 1rem;
}

.activities {
    height: 100%;
    width: 100%;
    /* **************************************** */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.part_one {
    grid-column-start: 1;
}

.part_two {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.part_three {
    grid-column-start: 3;
}

.part_four {
    grid-column-start: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.VXFIG {
    border: white solid 2px;
    height: fit-content;
    width: fit-content;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 2px 2px 33px 2px #F2F2F2;
}

.vxPort {
    object-fit: cover;
    padding-right: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.vxPortX {
    color: #222222;
    text-align: justify;
}

/* size image activities */

.xl {
    height: 400px;
    width: 250px;
}

.large {
    height: 100px;
    width: 250px;
}

.medium {
    height: 150px;
    width: 250px;
}

/* # start footer  *****************************************/

.menu_endpage {
    padding-left: 0;
}

footer {
    padding-left: 1em;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    justify-items: center;
    width: 100%;
    font-family: 'Raleway thin';
    background-color: #F2F2F2;
}

.title {
    font-weight: 900;
    font-family: 'Raleway Medium', sans-serif;
}

.title, .footer_element {
    margin: inherit;
}

.title a, .footer_element a {
    color: black;
    margin: inherit;
}

::placeholder {
    color: black;
    opacity: 1;
    /* Firefox */
}

/* # end footer  *****************************************/

@media screen and (max-width:730px) {
    nav {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .block_six_accomadations {
        order: 2;
    }
    i.fas.fa-search {
        color: white;
    }
    .hidden {
        visibility: hidden;
        width: 0%;
    }
    .party_aside {
        order: 1;
        background-color: #DEEBFF;
    }
    .container {
        justify-content: space-evenly;
        width: 100%;
        padding-left: 0;
    }
    .elemnt_inscription {
        position: absolute;
        right: 48px;
    }
    .text_icon {
        background-color: rgb(242 242 242);
        border-radius: 0;
    }
    .parent_aside {
        border-radius: 0px;
    }
    .elemnt_accommodation, .elemnt_activities {
        border-bottom: 1px solid rgb(242 242 242);
        color: rgb(128 128 128);
        width: 100%;
        border-top: 0;
        padding-bottom: 39px;
        text-align: center;
    }
    .elemnt_accommodation:hover, .elemnt_activities:hover {
        border-bottom: solid red 1px;
        border-top: 0;
    }
    .title_accomodation {
        background: none;
    }
    .acc_aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .cards_accomadation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: none;
    }
    .parent_aside {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .all_activities {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container_filter {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .fig_accomadation {
        box-shadow: 0px 0px 10px #DEEBFF;
    }
    .large, .medium, .xl, .fig_accomadation {
        height: 200px;
        width: 350px;
    }
    .fig_accomadation.aside {
        padding: 0%;
    }
    .hook_text, .populaire {
        padding-left: 10px;
    }
    .search {
        width: 100%;
        text-align: center;
    }
    .VXFIG {
        margin: 0px;
        margin: 0px;
    }
}