/* raleway-regular - latin */

@font-face {
    font-family: 'Raleway Medium';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v19-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/raleway-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/raleway-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/raleway-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/raleway-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/raleway-v19-latin-regular.svg#Raleway') format('svg');
    /* Legacy iOS */
}

body {
    font-size: 0.875em;
    font-family: 'Raleway';
}

/* # navigation *****************************************/

li {
    list-style: none;
}

.container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: auto;
    height: 10px;
}

main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.hook_text {
    margin-top: 10px;
    margin-left: 0px;
    font-family: 'Raleway-ExtraLight', sans-serif;
}

li.elemnt_accommodation, li.elemnt_activities, li.elemnt_inscription {
    margin: 25px;
    height: 100px;
    padding-top: 10px;
}

a:link {
    text-decoration: none;
}

.elemnt_accommodation a:visited, .elemnt_inscription a:visited {
    color: #0065FC;
}

.elemnt_activities a:visited {
    color: #222222;
}

.elemnt_activities:hover, .elemnt_inscription:hover, .elemnt_accommodation:hover {
    border-top: solid #0065FC;
    margin-top: -16px;
    padding-top: 49px;
}

/* # end navigation *****************************************/

/* # section search *****************************************/

.search {
    border: #DEEBFF 1px;
    width: 50%;
    border-radius: 50px;
    display: flex;
}

button {
    background-color: #0065FC;
    color: #DEEBFF;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: #0065FC;
    padding-right: 10px;
    font-weight: bold;
}

input {
    border: 2px #F2F2F2 solid;
}

/* icone maps */

i.fas.fa-map-marker-alt {
    background-color: #F2F2F2;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* # end section search*****************************************/

/* # section filtres  *****************************************/

/* .filters{} */

.container_filter {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 40%;
    padding-left: 0%;
}

.elements {
    border-top: #F2F2F2 solid 1px;
    border-right: #F2F2F2 solid 1px;
    border-bottom: #F2F2F2 solid 1px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-weight: 800;
}

.element {
    font-weight: 800;
}

.elements a:visited {
    color: #123112;
}

.elements:hover {
    transform: scale(1.1);
    background-color: #0065FC;
}

/* icone tickets */

i.fas.fa-money-bill-wave, i.fas.fa-child, i.fas.fa-heart, i.fas.fa-dog {
    border-radius: 50px;
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 12px;
}

/* hebergemnt a Marseille */

/* # end section filtres  *****************************************/

i.fas.fa-info {
    border: rgb(242 242 242) solid 1px;
    border-radius: 50%;
    padding: .5em;
    color: rgb(0 0 255);
    font-size: 0.7em
}

/* # start section accomodotion  *****************************************/

/* .section_accomodotion article .child_photos {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
} */

.section_accommodotion {
    float: left;
    width: 100%;
}

.acc_aside {
    display: grid;
    grid-template-columns: 20% 20% 200px 100px 20% 100px;
    grid-template-rows: 100px 450px 100px;
}

.parent {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px 200px 100px;
    background-color: rgb(241 241 242);
    border-radius: 20px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

.child {
    width: 200px;
    height: 96px;
    border-radius: 10px;
    border: white solid 2px;
    background-color: white;
    padding-bottom: 65px;
}

.child_photos {
    height: 100%;
    width: 100%;
    border: white solid 0px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.hbg {
    grid-column-start: 1;
    margin-left: 0px;
    grid-column-end: 4;
    height: 100px;
    padding-left: 44px;
    border-radius: 20px;
    padding-top: 33px;
    background-color: rgb(242, 242, 242);
}

h4 {
    grid-row-start: 3;
    padding-left: 40px;
}

.light_text {
    font-size: 10px;
}

/* prices */

.small_prices, .symbol, .name_hostel {
    font-weight: 700;
    font-size: 12px;
}

.fas.fa-star {
    color: #0065FC;
    font-size: small;
}

.fas.fa-star.grey_star {
    color: #DEEBFF;
}

.parent_aside {
    display: flex;
    background-color: #f2f2f1;
    flex-direction: column;
    grid-column-start: 5;
    border-radius: 20px;
}

.child.aside {
    display: -webkit-inline-box;
    padding-right: 76px;
    padding-bottom: 0px;
    height: 100px;
    box-shadow: 0px 0px 10px #DEEBFF;
    /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
}

.aside {
    justify-content: space-between;
}

.aside_child {
    width: 100px;
    height: 100px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
}

.all_activities {
    /* grid-auto-columns: 25% 21% 25% 25%; */
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    display: grid;
}

.populaire {
    grid-column-start: 5;
    padding-left: 44px;
    padding-top: 26px;
    background-color: #F2F2F2;
    height: 100px;
    border-radius: 20px;
}

.activities {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.part_one {
    grid-column-start: 1;
}

.part_two {
    grid-column-start: 2;
    display: flex;
    justify-content: space-between;
}

.part_three {
    grid-column-start: 3;
}

.part_four {
    grid-column-start: 4;
    display: flex;
    justify-content: space-between;
}

.VXFIG {
    border: white solid 2px;
    height: fit-content;
    width: fit-content;
    background-color: wheat;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.vxPort {
    object-fit: cover;
    padding-right: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.vxPortX {
    color: #222222;
    text-align: justify;
}

/* size image activities */

.xl {
    height: 400px;
    width: 250px;
}

.large {
    height: 100px;
    width: 250px;
}

.medium {
    height: 150px;
    width: 200px;
}

/* # start footer  *****************************************/

.menu_endpage {
    padding-left: 0;
}

footer {
    padding-left: 1em;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    justify-items: center;
    width: 100%;
    font-family: 'Raleway thin';
    background-color: #F2F2F2;
}

.title {
    font-weight: 900;
    font-family: 'Raleway Medium', sans-serif;
}

.title, .footer_element {
    margin: inherit;
}

.title a, .footer_element a {
    color: black;
    margin: inherit;
}

::placeholder {
    color: black;
    opacity: 1;
    /* Firefox */
}

/* # end footer  *****************************************/

/* 
acc aside
display: grid;
    grid-template-rows: 50px 10%;
    grid-template-columns: 65% 20%;



body > main > section.section_accommodotion > section > article
<article class="parent" style="
    grid-row-start: 2;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center; */